{% extends 'base.html.twig' %}

{% block title %}Your account{% endblock %}

{% block nav %}{% include 'navUser.html.twig' %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{% trans %}Hello{% endtrans %} {{ app.user.firstName }}</h1>
    
	Here you can access your files and others shared with you...
</div>
{% endblock %}
