{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit User{% endtrans %}{% endblock %}

{% block nav %}{% include 'navUser.html.twig' %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit User{% endtrans %}</h1>
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
